.MenuSelection {
    img {
        margin: -20px;
    }

    span {
        margin-bottom: 10px;
    }

    &-qty {
        margin-bottom: 20px;
    }

    &-options {
        margin-bottom: 20px;
    }

    &-buttonBar {
        text-align: center;
    }

    .btn-primary {
        margin-bottom: 20px;
    }
}